
body{
	margin:0.8em;
	padding:0px;
}
h1
{
    text-align:center;
    font-family:'Microsoft YaHei';
}
div.pic{
	float:left;  
	padding:0px;
	margin:10px 10px 40px 10px;
	height:160px; width:160px;
	
}
div.pic img{
		border:1px solid #82c3ff;
	
}
div.ls{
		background:url(../image/framels.jpg) no-repeat center;
}

div.ls img{
	margin:0px;
	width:135px; height:135px;	
}

div.pic ul{
	 /* display:none;	 */
	 margin:0px;
	 padding:0px;
	 text-align:center;
}
div.ls a{
	display:block;
	padding:11px 11px 14px 11px;	
}

div.ls a:hover{
	background:url(../image/framels_hover.jpg) no-repeat center;	
}

#stickey_return { 
	background: none repeat scroll 0 0 #1D1D1D;
	border: 1px solid rgba(0, 0, 0, 0.3);
	top: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 80px;
    height: 35px;
	right: 5%;
	position: fixed;
    padding-top:10px;
    padding-left:20px;
	text-shadow: 1px 1px 1px #000000;
    color:white;
}
