*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.case-content
{
    overflow: hidden;
    margin: 50px 0px 0px 220px;
    width: 1000px;
    background: #F4F7F7;
    position: fixed;
}

.case-item
{
    float: left;
    margin: 15px 20px;
    margin-bottom: 10px;
}

.ih-item
{
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

    .ih-item, .ih-item *
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .ih-item a
        {
            color: #333;
        }

            .ih-item a:hover
            {
                text-decoration: none;
            }
        /*圆圈内图片的大小*/
        .ih-item img
        {
            width: 100%;
            height: 100%;
        }

        .ih-item.circle, .ih-item.circle .img
        {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

            .ih-item.circle .img:before
            {
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: inset 0 0 0 16px rgba(255,255,255,.6),0 1px 2px rgba(0,0,0,.3);
                -webkit-transition: all .35s ease-in-out;
                -moz-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
            }

            .ih-item.circle .img img
            {
                border-radius: 50%;
            }

            .ih-item.circle .info
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                border-radius: 50%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

        .ih-item.square
        {
            position: relative;
            width: 316px;
            height: 216px;
            border: 8px solid #fff;
            box-shadow: 1px 1px 3px rgba(0,0,0,.3);
        }

            .ih-item.square .info
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

        .ih-item.circle.effect1 .spinner
        {
            width: 100px;
            height: 100px;
            border: 10px solid #ecab18;
            border-right-color: #1ad280;
            border-bottom-color: #1ad280;
            border-radius: 50%;
            -webkit-transition: all .8s ease-in-out;
            -moz-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
            /*TODO：分为4个学院-暂不需要*/
            /*格兰芬多：红色：#FF0000 金色：ecab18    */
            /*斯莱特林：绿色：#00FF00 银色：E6E8FA    */
            /*拉文克劳：蓝色：#0000FF 青铜色：#8C7853 */
            /*赫奇帕奇：黄色：#FFFF00 黑色：#000000   */
        }

        .ih-item.circle.effect1 .img
        {
            position: absolute;
            top: 10px;
            bottom: 0;
            left: 10px;
            right: 0;
            width: auto;
            height: auto;
        }
            /*圆圈内文字*/
            .ih-item.circle.effect1 .img h3
            {
                text-align: center;
                margin-top: 28px;
                margin-right: 6px;
            }

            .ih-item.circle.effect1 .img:before
            {
                display: none;
            }


        .ih-item.circle.effect1.colored .info
        {
            background: #1a4a72;
            background: rgba(26,74,114,.6);
        }

        .ih-item.circle.effect1 .info
        {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #333;
            background: rgba(0,0,0,.6);
            opacity: 0;
            -webkit-transition: all .8s ease-in-out;
            -moz-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
        }
            /*遮罩内文字*/
            .ih-item.circle.effect1 .info h3
            {
                font-size: 20px;
                color: #fff;
                margin-top: 35px;
            }

        .ih-item.circle.effect1 a:hover .spinner
        {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .ih-item.circle.effect1 a:hover .info
        {
            opacity: 1;
        }
